.product{
    margin: 0 20px 20px 20px;
    border: 4px double greenyellow;
    padding: 10px;
    border-radius: 10%;
}
.line{
    display: flex;
    justify-content: space-between;
}
.name{
    margin-right: 20px;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}
